{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommerce...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
<br><br>
<p align="justify" >             
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel molestie metus. Nunc porta vitae lorem vel elementum. Vivamus purus mauris, vestibulum et enim quis, aliquet bibendum quam. Praesent ac augue id diam auctor commodo. Duis laoreet lorem nec massa lacinia tincidunt. Sed ipsum nisl, malesuada ac diam vel, mattis eleifend sapien. Nullam laoreet leo ac enim laoreet, a cursus risus rutrum. Aenean augue ante, pellentesque et lorem volutpat, commodo luctus mauris.
<br><br>
Praesent elementum convallis ultrices. Curabitur vestibulum cursus leo id luctus. Sed consequat sapien quam, quis sagittis arcu aliquet eget. Maecenas vitae varius ipsum. Pellentesque egestas lectus lobortis, ullamcorper felis et, placerat turpis. Donec a placerat diam. Vestibulum semper fringilla tortor, a pretium ante ultricies sit amet. Aenean hendrerit in nisl eget auctor. Mauris sodales rhoncus justo, a dapibus augue scelerisque nec. Vestibulum et lacinia nisl, sed pellentesque mi.
<br><br>
Nullam commodo tellus rutrum venenatis mollis. Praesent id varius est. Mauris non leo non justo vestibulum tincidunt sit amet non quam. Phasellus tempor, enim sit amet hendrerit malesuada, ligula metus dictum diam, eu porta ligula leo id est. Nam pulvinar rutrum velit, sit amet sollicitudin dolor viverra ut. Nullam ut ullamcorper purus. Fusce pellentesque risus in arcu faucibus, vel vulputate purus bibendum. Nullam accumsan neque vitae aliquam varius. Proin et interdum metus. Donec iaculis malesuada risus quis porttitor. Pellentesque orci ex, elementum eget convallis eu, luctus id felis. Vivamus vel rhoncus justo. Suspendisse potenti.
<br><br>
</p>
            </div>
        </center>
    </div>
</div>


{% endblock %}